<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
            http://www.springframework.org/schema/context  
            http://www.springframework.org/schema/context/spring-context-3.2.xsd  
            http://www.springframework.org/schema/jdbc  
            http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd 
            http://www.springframework.org/schema/task 
            http://www.springframework.org/schema/task/spring-task-3.2.xsd
            http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
			http://www.springframework.org/schema/cache
			http://www.springframework.org/schema/cache/spring-cache-3.2.xsd
			http://www.springframework.org/schema/tx
 			http://www.springframework.org/schema/tx/spring-tx.xsd
 			http://www.springframework.org/schema/aop
 			http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
 	
 	<!-- 处理器映射器 、处理器适配器  、自定义参数绑定-->
 	<mvc:annotation-driven conversion-service="conversionService">
 		
 	</mvc:annotation-driven>
 	<context:component-scan base-package="com.fc.ssm.controller" />
 	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
 		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value="" />
 	</bean>
 	
 	<!-- 静态资源解析 -->
 	<mvc:resources location="/js/" mapping="/js/**"/>
 	<mvc:resources location="/img/" mapping="/img/**"/>
 	
 	<!-- 自定义参数绑定 -->
 	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
 		<!-- 转换器 -->
 		<property name="converters">
 			<list>
 				<bean class="com.fc.ssm.comm.converter.DateConverter"/>
 			</list>
 		</property>
 	</bean>
 	
 	<!-- 全局异常处理器 -->
 	<bean class="com.fc.ssm.comm.exception.MyHandlerExceptionResolver"/>
 	
 	<!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->  
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <!-- 指定所上传文件的总大小不能超过200KB。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->  
        <property name="maxUploadSize" value="2048000"/>  
    </bean>  
 	
 	
 	
 	<!-- 拦截器 -->
	<mvc:interceptors>
		<!-- 多个拦截器顺序执行 -->
		<mvc:interceptor>
			<!-- 拦截所有url包括子url -->
			<mvc:mapping path="/**"/>
			<bean class="com.fc.ssm.comm.interceptor.MyHandlerInterceptor1"></bean>
		</mvc:interceptor>
    	<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="com.fc.ssm.comm.interceptor.MyHandlerInterceptor2"></bean>
		</mvc:interceptor>
	</mvc:interceptors> 
 	
 	
 	<!-- 注解的方式：
 	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
 	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" />
 	-->
 	
 	<!-- 非注解的方式：
 		配置handler 
 	<bean name="/queryItems1.action" class="com.fc.ssm.controller.item.ItemsController1"/>
 	 	处理器映射器 
 	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
 	 	处理器适配器 
 	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
 	 	视图解析器 
 	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>
 	-->
</beans>